  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="brand">Project Name</span>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <%= link_to_with_active_class("index", "Home") %>
            <%= link_to_with_active_class("about", "About Us") %>
          </ul>
          <div class="pull-right" style="padding-top:10px">
              <p>
                <a class="social-icons" href="#">
                    <%= image_tag "32x32-Square-78-TW.png" %>
                </a>
                <a class="social-icons" href="#">
                    <%= image_tag "32x32-Square-78-FB.png" %>
                </a>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
